.cartsItem{
    margin-left: 25%;
    display: flex;
    align-items: center;
}
.cartsItem table{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.cartsItem table tr{
    display: flex;
    gap: 50px;
    align-items: center;
}

.cartsItem table tr td span{
    color: rgb(60, 192, 185);
    font-size: 28px;
}

.cartsItem #removeBtn button{
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: pink;
}
.cartsItem #imag img{
    width: 100px;
    height: 100px;
    background-size: contain;
    margin-right: -30px;
}
.price-container{
    margin-left: 25%;
    width:50rem;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    padding: 160px 20px;
    font-size: 24px;

}

.amount-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-container button{
    cursor: pointer;
}
.amount-container #minus{
    margin-right: -40px;
} 

.amount-container #plus{
    margin-left: -40px;
}

.table-first{
    margin-right: 10px;
}
.table-second{ 
    margin-left: 50px;
    margin-right: 10px;
}

.table-third{
    margin-left: 50px;}

.table-second button{
    padding: 10px 10px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 100px;
    text-align: center;
    background-color: pink;
    border: none;
    cursor: pointer;
}

.aman{
    margin-top: 150px;
    display: flex;
    align-items: center;
    background-color: rgb(238, 235, 235);
    margin-bottom: -130px;
    width: 800px;
    border: none;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px lightblue;
}

@media (max-width:1083px) {

.price-container {
        margin-left: 15%;
        width: 50rem;
        display: flex;
        justify-content: space-between;
        flex-shrink: 1;
        padding: 160px 20px;
        font-size: 24px;

    }
        .cartsItem {
            margin-left: 15%;
            display: flex;
            align-items: center;
        }
}

@media (max-width:961px) {

    .price-container {
        margin-left: 15%;
        width: 40rem;
        display: flex;
        justify-content: space-between;
        flex-shrink: 1;
        padding: 160px 20px;
        font-size: 24px;

    }

    .cartsItem {
        margin-left: 8%;
        display: flex;
        align-items: center;
    }
}

@media (max-width:500px) {

    .price-container {
        margin-left: 3%;
        width: 20rem;
        display: flex;
        justify-content: space-between;
        flex-shrink: 1;
        padding: 160px 20px;
        font-size: 24px;

    }

    .cartsItem {
        margin-left: 5%;
        display: flex;
        align-items: center;
    }
        .aman {
            margin-top: 150px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background-color: rgb(238, 235, 235);
            margin-bottom: -130px;
            width: 800px;
            border: none;
            padding: 10px 20px;
            box-shadow: 1px 1px 5px lightblue;
            margin-right: 20px;
        }
                .amount-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 80px;
                }
                                .table-third {
                                    margin-left: 50px;
                                    margin-top: 20px;
                                }
}