*{
    margin: 0;
    padding: 0;
}
.nav-container{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    position: fixed;
}

.nav-container h1{
    text-shadow: 2px 2px 4px blue;
    cursor: pointer;
}
#cart-icon{
    color: rgb(202, 17, 243);
    font-size: 40px;
    margin-right: 30px;
}

.cartImg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    margin-right: 120px;
}
.cartImg span{
    margin-left: -30px;
    font-size: 20px;
}

.cartImg p{
    font-size: 26px;
    color: rgb(202, 17, 243);
    
}

@media (max-width:420px) {
.nav-container {
        background-color: pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        padding: 20px 50px;
        position: fixed;
    }
        .nav-container h1 {
            text-shadow: 2px 2px 4px blue;
            cursor: pointer;
            margin-right: 60px;
            margin-bottom: 20px;
        }
}

@media (min-width:1149px){
.cartImg {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: pointer;
        margin-right: 300px;
    }
}
